<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li active> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-account-check"></i><span class="hide-menu">Profile</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i
                    class="mdi mdi-chart-pie"></i><span class="hide-menu">Analytics</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="{{url_for('logout')}}" aria-expanded="false"><i
                            class="mdi mdi-power"></i><span class="hide-menu">Logout</span></a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Bottom points-->
</aside>

